.title {
    padding: 0 15px;
}

#logo {
    height: 140px;
    float: left;
}

#shopping-cart {
    float: right;
}

.nav ul {
    margin: 20px 0 0;
    padding-left: 0;
    list-style: none;
}

.nav li {
    display: inline-block;
    padding: 15px;
    background-color: #4b8dc1;
    border: #333;
    color: #FFF;
}

.content-wrapper {
    width: 960px;
    margin: 15px auto;
    clear: both;
}

.content-wrapper:after {
    content: " ";
    clear: both;
    display: table;
}

#sidebar {
    width: 240px;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

#main-content {
    width: 720px;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.item {
    width: 210px;
    float: left;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid #DDD;
}